<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Users</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="topnav">
        <a  href="/">Home</a>
        <a href="/create" >Create Users</a>
    </div>

    <div class="form-add-new">
        <form action="/update-user" method="POST">
            <fieldset>
                <legend>Update Users</legend>
                <div class="input-group d-none">
                    <label for="">ID: </label>
                    <input type="text" name="userId" value="<%= userEdit.id%>">
                </div>
                <div class="input-group">
                    <label for="">Email: </label>
                    <input type="text" name="email" value="<%= userEdit.email%>">
                </div>
                <div class="input-group">
                    <label for="">Name: </label>
                    <input type="text" name="name" value="<%= userEdit.name%>">
                </div>
                <div class="input-group">
                    <label for="">City: </label>
                    <input type="text" name="city" value="<%= userEdit.city%>">
                </div>
                <div>
                    <button>Save</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>